.DS_Store
/todos
TODO.md
/docs
/tmp
/xx
/output
coverage
dist
/tmp-play-export
/runner-dev-catalog
/runner-dev-export
node_modules
npm-debug.log
typings
yarn-error.log
yarn.lock
.vscode
.aider*
/.agents
