@use "../../../../styles/variables" as *;

.info-block {
  .info-block__label {
    font-weight: bold;
    color: var(--docs-text-primary);
  }

  .info-block__value {
    font-family: $font-family-mono;
    font-size: $font-size-sm;
    color: var(--docs-text-secondary);
    margin-top: $spacing-xs;
    background: var(--docs-bg-secondary);
    padding: $spacing-sm;
    border-radius: $border-radius-sm;
  }
}
