@use "../../../../styles/variables" as *;

.section {
  &__title {
    margin: 0 0 $spacing-md 0;
    color: $text-darker;
    font-size: $font-size-lg;
    border-bottom: 2px solid $border-gray;
    padding-bottom: $spacing-sm;
  }

  &__content {
    display: grid;
    gap: $spacing-md;
  }
}
